# racine - ignore tous les fichiers sauf LICENSE et README.md
/*
!.gitignore
!LICENSE
!README.md
!/lasicroom_back
!/lasicroom_front
!/documentation_technique
!/.copilot-instructions.md
!/.aigenore

# frontend
lasicroom_front/node_modules
lasicroom_front/build
lasicroom_front/.env

# backend/frontend logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# backend
lasicroom_back/node_modules
lasicroom_back/.env
lasicroom_back/dist/

# logs
lasicroom_back/back.log

# Doc technique
documentation_technique/resume_commandes_git_chat.md
documentation_technique/letsencrypt_debian.md

# Sécurité & Configuration locale
.aigenore
.copilot-instructions.md
