.div_accompagnement {
    display: flex;
    justify-content: center;
    gap: 32px
}

.texte_accompagnement {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    padding: 12px;
    width: 35%;
    background-color: rgba(255, 140, 0, 0.025);
}

.texte_accompagnement h2 {
    text-align: center;
}

.div_form {  
    margin-top: 32px;
    text-align: center;
}

.formulaire div {
    margin-bottom: 12px;
}


.formulaire {   
    background-color: rgba(30, 144, 255, 0.050);
    padding: 24px;
    border-radius: 12px;
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 500px;
    margin-bottom: 16px;
}

.formulaire input,
.formulaire textarea {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Mobile */
@media screen and (max-width:767px) {

    .formulaire {
        text-align: center;
        max-width: 60%;
    }

    .div_accompagnement {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .img_accomp {
        width: 95%;
    }

    .texte_accompagnement {
        text-align:left;
        padding: 6px;
        width: 95%;
        font-size: medium;
    }
}

/* Tablette */
@media screen and (max-width: 1024px) {

    .formulaire {
        text-align: center;
        max-width: 65%;
    }

    .div_accompagnement {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .img_accomp {
        max-width: 640px;
    }

    .texte_accompagnement {
        text-align:left;
        padding: 6px;
        width: 95%;
        font-size: medium;
    }
}

