.div_accueil {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 32px;
}

.div_live_streaming { 
    display: flex;
    justify-content: center;
    gap: 64px;
}

.texte {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    width: 25%;
    background-color: rgba(255, 140, 0, 0.050);
}

.info {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    width: 25%;
    background-color: rgba(30, 144, 255, 0.075);
    /*background-color: rgba(25, 25, 112, 0.1);*/
}
