.div_accueil {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 32px;
}

.div_live_streaming { 
    display: flex;
    justify-content: center;
    gap: 64px;
}

.texte {
    border-radius: 12px;
    width: 25%;
    background-color: rgba(255, 140, 0, 0.1);
}

.info {
    border-radius: 12px;
    width: 25%;
    background-color: rgba(25, 25, 112, 0.1);
}
