.div_accueil {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 32px;
}

.div_live_streaming {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.texte {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    width: 25%;
    background-color: rgba(255, 140, 0, 0.025);
}

.info {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    width: 15%;
    background-color: rgba(30, 144, 255, 0.050);
}

/* 
Média queries
Mobile */
@media screen and (max-width:767px) {

    /* jusqu'à 400px*/
    .div_accueil,
    .div_live_streaming {
        flex-direction: column;
        align-items: center;
    }

    .texte,
    .info,
    .image_présentation {
        text-align: justify;
        /*font-size: small;*/
        width: 95%;
    }

    .texte,
    .info {
        margin-top: 16px;
    }

    .div_image {
        text-align: center;
    }

    iframe {
        width: 95%;
    }

    .div_frame {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: large;
    }
}

/* Tablette */
@media screen and (max-width : 1024px) {

    .div_accueil,
    .div_live_streaming {
        flex-direction: column;
        align-items: center;
    }

    .texte,
    .info {
        text-align: justify;
        font-size: medium;
        width: 95%;
    }

    .texte,
    .info {
        margin-top: 16px;
    }

    .div_image {
        text-align: center;
    }

    .div_frame {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 750 px;
    }

    h2 {
        font-size: large;
    }
}

@media screen and (max-width : 1080px) {

    iframe {
        width: 450px;
    }
}