.card_concert {
  padding: 12px;
  width: calc(20% - 24px);
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #f9f9f9;
  /*background-color: rgba(255, 140, 0, 0.050);*/
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image_card {
  width: 95%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.animation_card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  transform: translateY(-5px);
}

.card_concert.fullwidth {
  width: 75%;
  max-width: 800px;
  margin: 20px auto;
}

.card_concert.fullwidth .image_card {
  height: 350px;
  object-fit: cover;
}

/* Mobile */
@media screen and (max-width:767px) {
  .card_concert {
    width: 95%;
  }

  .card_concert.fullwidth {
    width: 95%;
  }
}

/* Tablette */
 @media screen and (min-width: 768px) and (max-width: 1024px) {

  .card_concert {
    width: 95%;
  }

  .card_concert.fullwidth {
    width: 95%;
  }

  .card_concert {
    width: calc(50% - 24px);
    /* 2 éléments par ligne avec un espacement */
    margin: 12px;
    box-sizing: border-box;
  }
}