.image_main {
    border-radius: 12px;
    height: 100vh;
    background-image: url('/public/images/photo_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.fond_form {
    background-color: transparent;
}
