.display_main {
    border-radius: 12px;
    width: 75%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.style_image {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
}

/* Mobile */
@media screen and (max-width:767px) {

    .display_main {
        flex-direction:column-reverse;
    }
    .style_image {
        max-width: 95%;
    }
}

/* Tablette */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .display_main {
        flex-direction:column-reverse;
    }
    .style_image {

        max-width: 75%;
    }

    .style_form {
        margin-top: 0px;
    }

    .style_h2 {
        margin-top: 0px;
        margin-bottom: 12px;
    }
}