.footer {
  margin : 10px 10px 10px 10px;
  background-color: #6b5ca5;
  color: white;
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 25rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.img_footer {
  width: 30px;
  height: 30px;
}

.licence {
  font-size: smaller;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.color_liens {
  font-size: smaller;
  padding : 0 10px 0 10px;
  color: white;
}