.btn-deconnexion {
  background-color: #cc0000;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 12px;
}

.btn-deconnexion:hover {
  background-color: #a30000;
}
