.div_tableau {
  width: 100%;
  overflow-x: auto;
}

.div_tableau table {
  min-width: 900px;
  /* Ajuste en fonction du nombre de colonnes */
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  border: 1px solid #ccc;
}

/* Mobile */

@media screen and (max-width: 767px) {

  .div_tableau {
    min-width: 300px;
    /* Ajuste en fonction du nombre de colonnes */
    border-collapse: collapse;
  }
}