.div_header {
    display: flex;
}

.titre {
    margin: auto;
    color : #f5f5f5;
    font-size: xx-large;
}

.logo {
    border-radius: 12px;
    padding: 16px;
    width: 100px;
}

/*
media queries
mobile
*/

@media screen and (max-width: 767px) {
    .titre {
        font-size: x-large;
    }
}

/* Tablettre */
@media screen and (max-width: 1024px) {
    .titre {
        font-size: xx-large;
    }
}