.liens {
    padding-right: 12px;
    text-decoration: none;
    color: #1D2D44;
    font-weight: bold;
}

.liens:hover {
    color:rgba(30, 144, 255, 1) ;
    text-decoration: underline;
}

/* Mobile */
@media screen and (max-width:767px) {
    .liens {
        font-size: medium;
    }

    .liens:hover {
    text-decoration: underline;
}
}
