.options-modal-content {
  text-align: center;
}

.options-modal-content button {
  margin: 0 10px;
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width:767px) {
  .options-modal-content button {
    margin-top: 12px;
  }
}