body {
  background: color #f5f5f5;
  font-family: sans-serif;
  color: #1D2D44;
}

img {
  border-radius: 12px;
}

nav {
  border-radius: 12px;
  padding: 12px;
  border: 12px;
  background-color: rgba(30, 144, 255, 0.1);
  display: inline-block;
}

.div_navbar {
  display: flex;
  justify-content: space-between;
}

header {
  border-radius: 12px;
  background-color: #1D2D44;
  margin-bottom: 12px;
}

footer {
  margin-top: 12px;
  border-radius: 12px;
  background-color: #1D2D44;
}

h1 {
  font-size: xx-large;
  padding: 24px 0 64px 0;
  text-align: center;
}

.button_bleu {
  font-weight: bold;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 12px;
  background-color: rgba(30, 144, 255, 0.7);
}

.button_rouge {
  font-weight: bold;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 12px;
  background-color: rgba(220, 20, 60, 0.7);
}

.button_tab {
  font-weight: bold;
}

ul {
  margin: 0px 12px;
  border-radius: 12px;
  padding-left: 0px;
}

li {
  /*color: rgba(220, 20, 60, 1);*/
  font-weight: 400;
  margin: 0 auto;
  padding: 6px 6px;
  font-size: medium;
  list-style: none;
}

input {
  padding: 12px;
  border-radius: 12px;
  background-color: white;
}

table {
  border-radius: 12px;
  width: 95%;
  margin: 0 auto;
  margin-top: 24px;
  border-collapse: collapse;
}

th {
  font-size: 1em;
  font-weight: bold;
  padding: 12px 16px;
  border: 1px solid #ddd;
}

td {
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  padding: 12px 16px;
  border: 1px solid #ddd;
}

thead {
  color: #f5f5f5;
  background-color: #1D2D44;
  /*background-color: #f2f2f2;*/
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

form {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
}

textarea {
  border-radius: 12px;
}

/* Animation */

.animation_1 {
  animation: clignote 5s infinite;
}

@keyframes clignote {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Mobile */
@media screen and (max-width:767px) {

  header {
    margin: 2px;
  }

  h1 {
    padding: 0px;
    font-size: large;
  }

  h2 {
    font-size: medium;
  }

  th, td {
    font-size: 10px;
  }

  p {
    font-size: small;
  }

  nav {
    padding: 6px;
  }

  .div_navbar {
    flex-direction: column;
    align-items: start;
    margin-bottom: 24px;
  }

  .div_navbar button {
    order: -1;
    align-self: flex-end;
  }

  li {
    padding: 6px 6px;
    font-size: small;
  }

  .div_tableau {
    min-width: 300px;
    /* ajuste en fonction du nombre de colonnes */
    border-collapse: collapse;
  }

  .button_rouge,
  .button_bleu {
    font-size: 10px;
  }

  .button_rouge {
    margin-bottom: 6px;
  }

  .button_tab {
    font-size: 10px;
  }
}

/* Tablette */
@media screen and (max-width : 1024px) {

  table {
    font-size: small;
  }

  th,
  td {
    padding: 6px 8px;
    border: 1px solid #ddd;
  }
}